/* Global Style */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --purple: #3d3998;
    --purple-2: #3c45a5;
    --green: #00dfa9;
    --green-2: #00deb0;
    --blue: #396da7;
    --blue-2: #267ff3;
    --blue-3: #2071da;
}

a {
    color: var(--purple-2);
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:hover {
    background-color: #3c45a51c;
    border-radius: 3px;
    border-bottom: 2px solid var(--purple-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p,
ul {
    color: black;
    font-weight: 200;
}

/* Global Classes */
.glbl-lateral-padding {
    padding-right: 12px;
    padding-left: 12px;
}

.glbl-top-margin {
    margin-top: 62px;
}

.glbl-small-bottom-margin {
    margin-bottom: 22px;
}

.glbl-medium-bottom-margin {
    margin-bottom: 38px;
}

.glbl-large-bottom-margin {
    margin-bottom: 54px;
}

.glbl-xlarge-bottom-margin {
    margin-bottom: 62px;
}

.glbl-bottom-margin {
    margin-bottom: 52px;
}

.projects-btn {
    border: none;
    border-radius: 4px;
    padding:4px 10px;
    color: white;
    font-size: 0.94rem;
    font-weight: 400;
    text-decoration: none;
    background-color: black;
}

.projects-link {
    color: var(--purple-2);
}

/* Top Navbar */
#topNavbar ul {
    border-bottom: 1px solid #e7e7e7;
}

#topNavbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    align-items: center;
    height: 40px;
}

/* Home Main */
#home-main-div {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 40px);
}

#home-main-div main {
    flex-grow: 1;
    display: flex;
    margin-top: 32vh;
}

/* Contact/Footer */
#contact ul {
    list-style: none;
    border-top: 1px solid #e7e7e7;
    display: flex;
    padding: 10px 0 10px 0;
    margin: 0;
}

#contact ul li {
    line-height: 1.1;
}

#contact ul a {
    font-size: 0.86rem;
}

#contact ul span {
    color: var(--purple-2);
    font-size: 0.8rem;
    margin-left: 2px;
    margin-right: 8px;
}