/* Global Style */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --purple: #3d3998;
    --purple-2: #3c45a5;
    --green: #00dfa9;
    --green-2: #00deb0;
    --green-3: #127578;
    --blue: #396da7;
    --blue-2: #267ff3;
    --blue-3: #2071da;
    --topbar-height: 54px;
    --background-color-1: white;
    --background-color-2: #f8f8f8;
    --text-color-1: black;
    --text-color-2: #242424;
}

html,
body {
    background-color: white;
}

.page-content {
    position: relative;
    background-color: #f8f8f8;
    padding-bottom: 58px;
}

.page-content.inv {
    background-color: var(--background-color-1);
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:hover {
    border-bottom: 2px solid black;
}

a svg {
    height: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p,
ul {
    color: black;
    font-weight: 200;
}

/* Global Classes */
.glbl-lateral-padding {
    padding-right: 12px;
    padding-left: 12px;
}

.glbl-top-margin {
    margin-top: 62px;
}

.glbl-small-bottom-margin {
    margin-bottom: 22px;
}

.glbl-medium-bottom-margin {
    margin-bottom: 38px;
}

.glbl-large-bottom-margin {
    margin-bottom: 58px;
}

.glbl-xlarge-bottom-margin {
    margin-bottom: 62px;
}

.glbl-bottom-margin {
    margin-bottom: 52px;
}

.projects-btn {
    border: none;
    border-radius: 4px;
    padding:4px 10px;
    color: white;
    font-size: 0.94rem;
    font-weight: 400;
    text-decoration: none;
    background-color: black;
}

.projects-link {
    color: var(--purple-2);
}

.blog-large-title {
    font-size: 3.2rem;
    font-weight: 800;
    color: #242424;
    hyphens: auto;
    overflow-wrap: break-word;
    line-height: 3.6rem;
    margin-bottom: 2rem;
}

.blog-uppercased-title {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.14rem;
    font-weight: 600;
}

/* Top Navbar */
header.main-top-nav {
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    z-index: 1000;
}

#topNavbar a[href="./index.html"] {
    font-weight: 900;
    font-size: 1.1rem;
    color: black;
    font-style: italic;
    text-transform: uppercase;
}
#topNavbar a[href="./index.html"]:hover {
    border: none;
}

#topNavbar a[href="./projects.html"] {
    border: none;
    border-radius: 14px;
    padding: 10px 14px;
    color: white;
    font-size: 0.92rem;
    font-weight: 600;
    text-decoration: none;
    background-color: black;
}
#topNavbar a[href="./projects.html"]:hover {
    border: none;
}

#topNavbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: var(--topbar-height);
    justify-content: space-between;
}

/* Home Main */
#home-main-div {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: calc(100dvh - var(--topbar-height));
}

#home-main-div main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-bottom: var(--topbar-height);
}

/* Contact/Footer */
#contact ul {
    list-style: none;
    border-top: 1px solid #e7e7e7;
    display: flex;
    padding: 10px 0 10px 0;
    margin: 0;
}

#contact ul li {
    line-height: 1.1;
}

#contact ul a {
    font-size: 0.86rem;
}

#contact ul span {
    color: var(--purple-2);
    font-size: 0.8rem;
    margin-left: 2px;
    margin-right: 8px;
}

/* Text Animation */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Project Cards */
#projectsSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#projectsSection .project-card {
    background-color: #f2f2f2;
    padding: 22px 10px;
    border-radius: 10px;
    margin-bottom: 22px;
    position: relative;
}

#projectsSection .project-card:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#projectsSection .project-card .card-title {
    color: black;
    font-size: 1rem;
    font-weight: 200;
    z-index: 1;
}

#projectsSection .project-card .card-title::before {
    content: '';
    position: absolute;
    inset: 0;
}

#projectsSection .project-card .card-title:hover::before {
    cursor: pointer;
}

#projectsSection .project-card .card-title:hover {
    border-color: transparent;
}

#projectsSection .project-card p {
    font-size: 3.2rem;
    font-weight: 800;
    color: #242424;
}
